@import '../mixins.less';

@blue: #001529;
@white: #fff;
@purple: #5d44a9;
@skyblue: #1890ff;
@red: #ff4d4f;
@border: 3px solid @blue;

.item {
  width: 300px;
  height: 211px;
  margin: 15px;
  border-radius: 10px 10px 0 0;
  background-color: @white;

  .head {
    height: 60px;
    width: 300px;
    max-width: 300px;
    padding: 0 20px;
    border: @border;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem;
    background-color: @purple;
    color: @white;
    display: table-cell;
    vertical-align: middle;
    .textOverflow(); 
  }

  .body {
    height: 151px;
    
    .info {
      height: 101px;
      padding: 10px 20px;
      border-left: @border;
      border-right: @border;
      p {
        margin: 0 0 5px;
        .textOverflow();
      }
    }
    
    .actions {
      height: 50px;
      .flex();

      .action {
        width: 25%;
        height: 100%;
        border: @border;
        border-top-width: 2px;
        border-radius: 0;
        color: @blue;
        .flex();

        &:not(:first-child) {
          border-left-width: 1px;
        }

        &:not(:last-child) {
          border-right: 0;
        }

        &:hover:not(:last-child) {
          color: @white;
          background-color: @skyblue;
        }

        &:hover:last-child {
          color: @white;
          background-color: @red;
        }

        svg {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }
  }
}